<a href="javascript:void(0)">
  <div class="card bbq-card">
    <img class="card-img-top" src="https://www.beaucettemarina.com/wp-content/uploads/2016/07/BBQ-Image.jpg">
    <div class="card-body">
      <h5 class="card-title">{{ this.name }}</h5>
      <p class="card-text">{{ this.description }}</p>
    </div>
  </div>
</a>