<form method="POST" action="/bbqs/create" enctype="multipart/form-data ">

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" placeholder="Enter BBQ's name">
  </div>

  <label for="public">Your BBQ is...</label>
  <select class="form-control" name="public">
    <option value="true">Public</option>
    <option value="false">Private</option>
  </select>

  <div class="form-group mt-3">
    <label for="name">Address</label>
    <input type="text" class="form-control" id="address" name="address" aria-describedby="Address" placeholder="Enter BBQ's address" onFocus="geolocate()">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Date</label>
    <input type="datetime-local" class="form-control" id="date" name="date">
  </div>

  <label for="ppp">Prize per Person</label>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">€</span>
    </div>
    <input type="number" min="0.01" step="0.01" class="form-control" aria-label="Prize per Person">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description" rows="5"></textarea>
  </div>

  <div class="custom-file mb-3">
    <input type="file" class="custom-file-input" id="photos" name="photos" multiple>
    <label class="custom-file-label" for="customFile">Upload your best photos!</label>
  </div> 

  <div class="form-group mb-4">
    <label for="tags">Tags</label>
    <input type="text" class="form-control" id="tags" name="tags" value="" data-role="tagsinput">
  </div>

  <section id="dishes">
    <label for="menu">Dishes</label>
    <button type="button" class="btn btn-sm btn-success" id="addDishButton">Add dish</button>    
  </section>

  <section id="drinks">
    <label for="menu">Drinks</label>
    <button type="button" class="btn btn-sm btn-success" id="drinkButton">Add drink</button> 
    <div class="card mb-3 mt-3">
      <div class="card-body"></div>
    </div>
  </section>  

  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="true" name="bread" id="bread">
      <label class="form-check-label" for="bread">
        Bread is included?
      </label>
    </div>
  </div>

  <button type="submit" class="btn btn-primary mb-5 ">Submit</button>
</form>


{{!-- TEMPLATES --}}


<script>
  let dishCount = 0;
  let ingredientCout = 0;

  function addDish() {
    let dish = `
      <div class="card mb-3 mt-3">
        <div class="card-body">
          <label for="name">Name</label>
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <input type="text" class="form-control" id="dish" name="dishes" aria-describedby="nameHelp" placeholder="Dish name">
              </div>
            </div>
            <div class="col">
              <button type="button" class="btn btn-danger deleteDishButton" onclick="deleteDish(event)">Delete dish</button>
            </div>
          </div>
        <label for="ingredients">Ingredients</label>
        <button type="button" class="btn btn-sm btn-success" id="ingredientButton" onclick="addIngredient(event.target)">Add ingredient</button>
        <div class="ingredients">
          <div class="form-row">
            <div class="col">
              <input type="text" class="form-control form-control-sm" id="ingredient.name" name="ingredients.names" aria-describedby="ingredient.name" placeholder="Ingredient name">
            </div>
            <div class="col">
              <input type="number" min="0.01" step="0.01" class="form-control form-control-sm" id="ingredient.ammount" name="ingredients.ammounts" aria-describedby="ingredient.ammount" placeholder="Ammount">
            </div>
            <div class="col">
              <input type="text" class="form-control form-control-sm" id="ingredient.unit" name="ingredients.units" aria-describedby="ingredient.unit" placeholder="Unit">
            </div>
            <div class="col">
              <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">€</div>
                </div>
                <input type="number" min="0.01" step="0.01" name="ingredients.prizes" class="form-control form-control-sm" id="ingredient.prize" placeholder="Prize per Unit">
              </div>
            </div>
            <div class="col">
              <button type="button" class="btn btn-danger btn-sm" onclick="deleteIngredient(event.target)">Delete ingredient</button>
            </div>
          </div>
        </div>
      </div>`;
    $("#dishes").append(dish);
  }

  function deleteDish(event) {
    if($('.deleteDishButton').length > 1) {
      $(event.target).parents('.card').remove();
    }
  }

  function addIngredient(target) {
    let ingredient = `
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control form-control-sm" id="ingredient.name" name="ingredients.names" aria-describedby="ingredient.name" placeholder="Ingredient name">
        </div>
        <div class="col">
          <input type="number" min="0.01" step="0.01" class="form-control form-control-sm" id="ingredient.ammount" name="ingredients.ammounts" aria-describedby="ingredient.ammount" placeholder="Ammount">
        </div>
        <div class="col">
          <input type="text" class="form-control form-control-sm" id="ingredient.unit" name="ingredients.units" aria-describedby="ingredient.unit" placeholder="Unit">
        </div>
        <div class="col">
          <div class="input-group input-group-sm mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">€</div>
            </div>
            <input type="number" min="0.01" step="0.01" name="ingredients.prizes" class="form-control form-control-sm" id="ingredient.prize" placeholder="Prize per Unit">
          </div>
        </div>
        <div class="col">
          <button type="button" class="btn btn-danger btn-sm" onclick="deleteIngredient(event.target)">Delete ingredient</button>
        </div>
      </div>`;
    $(target).siblings('.ingredients').append(ingredient);
  }

  function deleteIngredient(target) {
    if($(target).parents('.ingredients').children('.form-row').length > 1) {
      $(target).parents('.form-row').remove();
    }
  }

  function addDrink() {
    let drink = `
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" id="drink.name" name="drinks.names" aria-describedby="drink.name" placeholder="Drink name">
        </div>
        <div class="col">
          <input type="number" min="0.01" step="0.01" class="form-control" id="drinks.ammounts" name="drinks.ammounts" aria-describedby="drink.ammount" placeholder="Ammount">
        </div>
        <div class="col">
          <input type="text" class="form-control" id="drink.unit" name="drinks.units" aria-describedby="drink.unit" placeholder="Unit">
        </div>
        <div class="col">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">€</div>
            </div>
            <input type="number" min="0.01" step="0.01" name="drinks.prizes" class="form-control" id="drink.prize" placeholder="Prize per Unit">
          </div>
        </div>
        <div class="col">
          <button type="button" class="btn btn btn-danger deleteDrinkButton" onclick="deleteDrink(event.target)">Delete drink</button>
        </div>
      </div>`;
    $("#drinks").find('.card-body').append(drink);
  }

  function deleteDrink(target) {
    if($('.deleteDrinkButton').length > 1) {
      $(event.target).parents('.form-row').remove();
    }
  }

  $('#addDishButton').on('click', addDish);
  $('#drinkButton').on('click', addDrink);
  addDish();
  addDrink();
</script>


{{!-- GOOGLE PLACES API SCRIPT --}}


<script>
  var placeSearch, autocomplete;
  var componentForm = {
    street_number: 'short_name',
    route: 'long_name',
    locality: 'long_name',
    administrative_area_level_1: 'short_name',
    country: 'long_name',
    postal_code: 'short_name'
  };

  function initAutocomplete() {
    autocomplete = new google.maps.places.Autocomplete(document.getElementById('address'),{types: ['geocode']});
  }

  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var geolocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        var circle = new google.maps.Circle({
          center: geolocation,
          radius: position.coords.accuracy
        });
        autocomplete.setBounds(circle.getBounds());
      });
    }
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{apiKey}}&libraries=places&callback=initAutocomplete"
async defer></script>