<h1>Bbqs list</h1>

<div id="map"></div>


<div class="bbqs-container">
{{# each bbqs as |bbq| }}
  {{> bbqPreview bbq }}
{{/each }}
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/bbqs-api.js"></script>
<script src="/js/bbqs-map.js"></script>
<script src="/js/init-bbqs-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvXdPTaOqBz4sIl7zf3qr5DYCml_G1cKA&callback=initMap"
async defer></script>