.bbqs-container {
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
}

.bbq-card {
  margin: 20px 0;
  text-decoration: none;
}

#map {
  height: 400px;
  /* border: 1px dotted; */
}

.bbq-preview {
  margin: 1em 0;
}