<div class="d-flex justify-content-center mt-5">
  <div>
    <form form action="/sessions/login" method="POST">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fas fa-envelope"></i> </span>
        </div>
        <input type="email" class="form-control" name="email" placeholder="user@exaple.org" value=""/>
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fas fa-lock"></i> </span>
        </div>
        <input type="password" class="form-control" name="password" placeholder="Password"/>
      </div>
      <div class="form-actions">
        <button class="btn btn-primary btn-block" type="submit" >Login</button>
      </div>
      <p class="text-right">
        <small>Don't have an account yet? <a href="/users/create">Create one here</a></small><br>
        {{#if message}}
          <small><strong>{{message}}</strong></small>
        {{/if}}
      </p>
    </form>
  </div>
</div>