<h3>Sign up form</h3>
<form action="/users/create" method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Enter your name">
  </div>

  <div class="form-group">
    <label for="last-name">Last name</label>
    <input type="text" class="form-control" id="last-name" placeholder="Enter your last name">
  </div>

  <div class="form-group">
    <label for="age">Age</label>
    <input type="number" class="form-control" id="age">
  </div>

  <div class="form-group">
    <label for="genre">Genre</label>
    <select class="form-control" id="genre">
      <option>male</option>
      <option>female</option>
      <option>non-binary</option>
    </select>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="user@example.com">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password">
  </div>

  <div class="custom-file">
    <input type="file" class="custom-file-input" id="customFileLang" lang="es">
    <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
  </div>

  <br><br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>